/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --size: 10vmin;
}

body {
  overflow: hidden;
  display: grid;
  place-items: center;
  height: 100vh;
  background: rgb(249, 143, 229);
  cursor: url("./imgs/pinkcursor.png"), auto;
}

h1 {
  font-size: 12vw;
  font-weight: 400;
  color: #fff0;
  display: flex;
  width: 90%;
}

span {
  flex-basis: 100%;
}

span:not(.ws) {
  display: inline-block;
}
svg {
  width: 100vw;
  height: 100vh;
}
.open {
  position: absolute;
  overflow: hidden;
  height: 100%;
  display: none;
}

.letter1 {
  position: absolute;
  width: 800px;
}
.letter2 {
  position: absolute;
  width: 800px;
}
